<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Assignment_aip_1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>com.ajayaraj.olympicshop.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/productOflist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderSessionServlet</servlet-name>
    <servlet-class>com.ajayaraj.olympicshop.OrderSessionServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderSessionServlet</servlet-name>
    <url-pattern>/itemDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FinalCartServlet</servlet-name>
    <servlet-class>com.ajayaraj.olympicshop.InsertOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalCartServlet</servlet-name>
    <url-pattern>/finalDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.ajayaraj.olympicshop.SearchOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OutstandOrderServlet</servlet-name>
    <servlet-class>com.ajayaraj.olympicshop.OutstandOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutstandOrderServlet</servlet-name>
    <url-pattern>/OutstandDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateOrderServlet</servlet-name>
    <servlet-class>com.ajayaraj.olympicshop.UpdateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderServlet</servlet-name>
    <url-pattern>/UpdateOrder</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DisplayOutOrderServlet</servlet-name>
    <servlet-class>com.ajayaraj.olympicshop.DisplayOutOrderservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayOutOrderServlet</servlet-name>
    <url-pattern>/DisplayOrder</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ManualServlet</servlet-name>
    <servlet-class>com.ajayaraj.olympicshop.DisplayOrderManualServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManualServlet</servlet-name>
    <url-pattern>/DisplayManualOrder</url-pattern>
  </servlet-mapping>
  
</web-app>